body{
    background-color: rgb(34, 114, 114);
}
*{ 
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
}
/* navbar */
.nav-bar{
    padding: 0 50px;
}
.logo{
    width: 20%;
}
.nav-bar .logo img{
    width: 100%;
}

.main-nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.main-nav a:hover {
    color: red;
}
.main-nav  ul li{
    list-style: none;
}
.main-nav ul{
    border: 1px solid black ;
    border-radius: 4px;
    width: 170px;
    background-color: aliceblue;
}
.sub-menu1{
    display: none;
}
.main-nav:hover .sub-menu1 {
    display: block;
    position: absolute;
}
.sub-menu2{
    display: none;
}
.main-nav:hover .sub-menu2{
    display: block;
    position: absolute;
}
/* cards */
.card-info{
    margin-top: 0;
}

.card-info h6, p{
    text-align: center;
    font-size: 12px;
    color: rgb(80, 78, 78);
}
.cards{
    background-color: rgb(243, 240, 240);
    border-radius: 20px;
}
.card-body img{
    border-radius: 20px;
}
.dot{
    font-size: 5px;
}
.cards{
    position: absolute;
} 
 .travel{
    border-radius: 12px; 
    position: relative;
    top:-60px;
    left:10px;

}
.diamond{
    position: relative;
    left:20px;
    top:-600px;
    border-radius: 12px;
    color: black;
}
.diamond2{
    font-size: 12px;
    color: rgb(196, 133, 255);
}
.comment{
    width: 30px;
    height:30px ;
    text-align: center;
    position: relative;
    top:-632px;
    left:450px;
} 
.comment2{
    font-size: 12px;
}


